EXPO_PUBLIC_API_URL=http://localhost:3000/api/v1
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
EXPO_PUBLIC_PUSHER_KEY=
EXPO_PUBLIC_PUSHER_CLUSTER=mt1
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
